aiodataloader==0.4.2
alembic==1.16.4
annotated-types==0.7.0
anyio==4.9.0
black==25.1.0
click==8.1.8
exceptiongroup==1.3.0
fastapi==0.116.1
graphene==3.4.3
graphene-sqlalchemy==3.0.0rc2
graphql-core==3.2.6
graphql-relay==3.2.0
h11==0.16.0
httptools==0.6.4
idna==3.10
Mako==1.3.10
MarkupSafe==3.0.2
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
promise==2.3
psycopg==3.2.9
psycopg-binary==3.2.9
pydantic==2.11.7
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
PyYAML==6.0.2
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.41
starlette==0.47.2
starlette-graphene3==0.6.0
tomli==2.2.1
typing-inspection==0.4.1
typing_extensions==4.14.1
uvicorn==0.35.0
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1
